{% extends 'base.html' %}
{% load static %}

{% block title %}Home - E-Store{% endblock %}

{% block content %}
    <div class="text-center py-5" style="background-color: #f8f9fa; color: #333;">
        <img src="{% static 'Images/Designer.png' %}" alt="Wallpaper Image" class="img-fluid rounded shadow-lg mb-4" style="width:1900px;height:500px;">
        <h1 class="display-4" style="color: #007bff;">Welcome to <span style="color: #e44d26;">E-Store</span>!</h1>
        <p class="lead">Discover a world of amazing products at E-Store. We bring you the latest trends in fashion, electronics, home decor, and more. Shop with confidence and convenience, right from the comfort of your home.</p>
        <hr class="my-4" style="border-color: #007bff;">
        <p>Explore our diverse collection, find great deals, and experience seamless shopping. Whether you're looking for stylish clothing, cutting-edge gadgets, or unique home essentials, E-Store has it all!</p>
        <p>From trendy apparel to cutting-edge electronics, we curate the best products for our customers. Our commitment to quality and customer satisfaction sets us apart.</p>
        <p>Join our community of satisfied customers and elevate your shopping experience. Start browsing now and make your online shopping journey memorable at E-Store.</p>
    </div>
{% endblock %}
